<!DOCTYPE html>
<html lang="en">
<title>Organic Market</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/main.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PAGE</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PRODUCT</a>
    <a href="#blog" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOG</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://images.unsplash.com/photo-1554197008-9eff9a9625f7" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Apricot Peach</h3>
      <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis, repellat quia esse deserunt doloribus fuga magnam provident laudantium culpa tempora voluptatem sunt labore sit dignissimos ipsum nulla sequi adipisci.</b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://images.unsplash.com/photo-1542838132-92c53300491e" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Apricot Peach</h3>
      <p><b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis officiis illo officia reprehenderit eligendi id quae dicta voluptatibus porro, eius, similique rem inventore! Repudiandae, temporibus praesentium ducimus neque suscipit id.</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://images.unsplash.com/photo-1471193945509-9ad0617afabf" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Apricot Peach</h3>
      <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quidem officia nam aut? Fuga vel dolor natus molestias, in delectus aspernatur nostrum mollitia laborum ipsam, accusantium a perspiciatis aliquid quia.</b></p>    
    </div>
  </div>
 
  <!-- The WELCOME Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">WELCOME TO FRESHMART</h2>
    <p class="w3-opacity"><i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque unde consequatur harum fugit! Cupiditate est molestias omnis perspiciatis unde repudiandae sint asperiores sed deserunt dolore, ea ratione perferendis, iusto optio?</i></p>

    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <img src="https://images.unsplash.com/photo-1528820540591-4d090b2f6e3c" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        <p>ALWAYS FRESH</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus omnis rem nihil similique quam praesentium.</p>
      </div>
      <div class="w3-third">
        <img src="https://images.unsplash.com/photo-1463740839922-2d3b7e426a56" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        <p>SUPER HEALTHY</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus omnis rem nihil similique quam praesentium.</p>
      </div>
      <div class="w3-third">
        <img src="https://images.unsplash.com/photo-1568595502714-5a8aa68c5fd7" class="w3-round" alt="Random Name" style="width:60%">
        <p>OUR STORY</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus omnis rem nihil similique quam praesentium reprehenderit quod illum esse inventore earum, laudantium perspiciatis quasi, in itaque possimus. Voluptatibus, delectus.</p>
      </div>
      <div class="w3-third">
        <img src="https://images.unsplash.com/photo-1548692972-dd5753b37b9f" class="w3-round" alt="Random Name" style="width:60%">
        <p>100% NATURAL</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus omnis rem nihil similique quam praesentium.</p>
      </div>
      <div class="w3-third">
        <img src="https://images.unsplash.com/photo-1564873802888-4115d26f87d9" class="w3-round" alt="Random Name" style="width:60%">
        <p>PREMIUM QUALITY</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus omnis rem nihil similique quam praesentium.</p>
      </div>
    </div>
  </div>

  <!-- DEALS OF THE DAY-->
  <div class="w3-white" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-orange w3-center">Deals of <b> THE DAY</b></h2>
      <p class="w3-opacity w3-center"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="https://images.unsplash.com/photo-1459411621453-7b03977f4bfc" alt="New York" style="width:60%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Organic Strawberry Fruits</b></p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p class="w3-opacity">$60.00</p><p>$35.00</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="https://images.unsplash.com/photo-1551277333-2d9895fb894c" alt="Paris" style="width:46%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Organic Strawberry Fruits</b></p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p class="w3-opacity">$60.00</p><p>$35.00</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="https://images.unsplash.com/photo-1551280624-7005013c3a04" alt="San Francisco" style="width:79%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Organic Strawberry Fruits</b></p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p class="w3-opacity">$60.00</p><p>$35.00</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Best sellers -->
<div class="w3-white" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-green w3-wide w3-center">BEST <b>SELLERS</b></h2>
      <p class="w3-opacity w3-center"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</i></p><br>
       <!--  Grid-->
  <div class="w3-row-padding w3-padding-10 w3-center" id="food">
        <div class="w3-col m2">
          <img src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb" alt="Sandwich" style="width:100%">
          <h3>Organic Strawberry Fruits</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>$15.00</p>
        </div>
        <div class="w3-col m2">
          <img src="https://images.unsplash.com/photo-1561058325-8c99b449e3b6" alt="Steak" style="width:100%">
          <h3>Organic Strawberry Fruits</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>$43.00</p>
        </div>
        <div class="w3-col m2">
          <img src="https://images.unsplash.com/photo-1523049673857-eb18f1d7b578" alt="Cherries" style="width:100%">
          <h3>Organic Strawberry Fruits</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>$12.00</p>
        </div>
        <div class="w3-col m2">
          <img src="https://images.unsplash.com/photo-1568966299181-bb7282cc84f0" alt="Pasta and Wine" style="width:100%">
          <h3>Organic Strawberry Fruits</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>$2.00</p>
        </div>
        <div class="w3-col m2">
            <img src="https://images.unsplash.com/photo-1515778767554-42d4b373f2b3" alt="Pasta and Wine" style="width:100%">
            <h3>Organic Strawberry Fruits</h3>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>$20.00</p>
        </div>
        <div class="w3-col m2">
            <img src="https://images.unsplash.com/photo-1553279768-865429fa0078" alt="Pasta and Wine" style="width:100%">
            <h3>Organic Strawberry Fruits</h3>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>$20.00</p>
        </div>
    </div>



<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>